.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: pink; */
}

.sub-container{
  display: flex;
  flex: 1;
  /* background-color: bisque; */
}

.sidebar-container{
  width: 200px;
  /* background-color: skyblue; */
}

.sidebar-item-wrapper{
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 1.5px solid #eee;
  height: 100%;
}

.sidebar-item{
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  transition: all .3s;
}

.sidebar-item:hover:not(.active){
  background-color: #eee;
  border-radius: 10px;
  /* color: white; */
  opacity: 0.8;
}

.sidebar-item.active{
  background-color: pink;
  border-radius: 10px;
  color: white;
  transition: all .3s;
}

.navbar-container{

  padding: 10px 1rem;
  background-color: hwb(0deg 85.87% 1.46%);
  animation: rainbow 20s infinite 0s linear;
}

@keyframes rainbow {
  0% {
    background-color: hwb(0deg 85.87% 1.46%);
  }
  20% {
    background-color: hwb(72deg 85.87% 1.46%);
  }
  40% {
    background-color: hwb(144deg 85.87% 1.46%);
  }
  60% {
    background-color: hwb(216deg 85.87% 1.46%);
  }
  80% {
    background-color: hwb(288deg 85.87% 1.46%);
  }
  100% {
    background-color: hwb(360deg 85.87% 1.46%);
  }
}

li{
  list-style: none;
}


.row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.space-b {
  justify-content: space-between;
}

.active-sub-content {
  padding: 1rem;
}

.card-stats-wrapper {
  display: flex;
  gap: 2rem;
}
.card-stats-item {
  background-color: #eee;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  background-color: #F9B0B0;
}
.card-stats-item .amount {
  font-size: 2em;
}
.card-stats-item .amount-wrapper {
  display: flex;
  align-items: center;

}