h1 {
  margin-bottom: 1rem;
}

input, textarea, select {
  padding: 10px 20px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  border: none;
  width: 500px;
  background-color: #eee;
  outline: none;
  resize: none;
}

input[type='button'], button {
  background-color: #e5a6d7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 18px;
  color: white;
  width: 150px;
}
input[type='button'], button.success{
  background-color: #85bf85;
}
input[type='button']:hover, button:hover {
  opacity: .8;
}

.navbar {
  background-color: var(--primary);
  padding: 1rem 3rem;
}
.cash-in {
  background-color: green !important;
}

.left-content {
  background-color: white;
}
.right-content {

}
.main-layout {
  display: flex;
}