@import './filters.scss';
@import './loader.scss';

.alert-container {
    position: absolute;
    z-index: 1;
    right: 10px;
    background-color: rgba(172, 198, 164, 0.78);
    background-color: pink;
    padding: 10px 1rem;
    border-radius: 10px;
    top: 5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 200px;
    height: 50px;
    box-shadow: 1px 1px 2px 3px #eee;
}